HOST=0.0.0.0
PORT=1337
APP_KEYS=educoreAppKeyA123,educoreAppKeyB456
API_TOKEN_SALT=educoreApiTokenSalt789
ADMIN_JWT_SECRET=educoreAdminJwtSecretSecret999
TRANSFER_TOKEN_SALT=educoreTransferTokenSalt111
JWT_SECRET=educoreJwtUserSecret2026
DATABASE_CLIENT=sqlite
DATABASE_FILENAME=.tmp/data.db
